.explorer-list {
  background-color: transparent;
}

.card-container {
  padding: 0;
  border-radius: 12px;
}

.card-container .card-preview {
  border-radius: 12px 0 0 12px;
}

.viewer-details {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.viewer-details .expander .nested {
  background-color: transparent;
}

.viewer-details .expander .header {
  border: none;
}

.viewer-details .expander:hover {
  background-color: color-mix(in srgb, var(--card-bg-color) 10%, transparent);
  border-radius: 12px;
  transition: background-color 0.2s ease-in-out;
}

.viewer-details .expander .expander-row-arrow {
  opacity: 0;
}

.viewer-page-button {
  background-color: transparent;
  color: color-mix(in srgb, var(--card-fg-color) 50%, transparent);
  transition: color 0.2s ease-in-out;
}

.viewer-page-button:hover {
  color: var(--card-fg-color);
}
